APP_PORT=4001
JWT_SECRET=13ffdafe-5daa-11eb-ae93-0242ac130002

# Development
DATABASE_URL="file:./dev.db"

# Production
#DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# Email
SMTP_FROM='"Example App" <noreply@example.com>'
SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASS=""
